*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 130px;
    direction: rtl;
    z-index: 999;
    >h2{
        padding: 30px 0;
    }
    >.progress{
        height: 20px;
        >.progress-bar{
            background: linear-gradient(to right, rgb(184 , 2 , 216), rgb(255, 0, 0));
        }
    }
}
section{
    margin-top: 170px;
    >p{
        opacity: 0;
    }
}